apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "quine-enterprise.fullname" . }}
  labels:
    {{- include "quine-enterprise.labels" . | nindent 4 }}
spec:
  replicas: {{ add .Values.hostCount .Values.hotSpareCount }}
  selector:
    matchLabels:
      {{- include "quine-enterprise.selectorLabels" . | nindent 6 }}
  strategy:
    type: {{- include "quine-enterprise.strategy" . }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "quine-enterprise.prometheusAnnotations" . | nindent 8 }}
      labels:
        {{- include "quine-enterprise.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.memberTerminationGracePeriod }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: QUINE_SEED_DNS
            value: {{ include "quine-enterprise.fullname" . }}-seed
          - name: CASSANDRA_ENDPOINTS
            value: {{ .Values.cassandra.endpoints }}
          - name: JDK_JAVA_OPTIONS 
            value: |
              -Dconfig.override_with_env_vars=true
              -Dthatdot.loglevel={{ .Values.thatdot.logLevel }} 
              -Dquine.cluster.target-size={{ .Values.hostCount }}
              -Dpekko.coordinated-shutdown.phases.before-cluster-shutdown.timeout="{{ sub .Values.memberTerminationGracePeriod 5 }} seconds"
              -Dquine.id.type=uuid
              -Dquine.id.partitioned=true
              {{ include "quine-enterprise.clusterJoinTypeConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.persistenceConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.storeConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.metricsConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.licenseConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.oidcConfiguration" . | nindent 14 }}
              {{ include "quine-enterprise.prometheusJdkOptions" . | nindent 14 }}
              {{ .Values.extraJdkArgs }}
          {{ include "quine-enterprise.cassandraAuthEnv" . | nindent 10 }}
          {{ include "quine-enterprise.basicAuth" . | nindent 10 }}
          {{ include "quine-enterprise.probes" . | nindent 10 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{ include "quine-enterprise.basicAuthVolumeMounts" . | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      volumes:
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{ include "quine-enterprise.basicAuthVolumes" . | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
