# Default values for novelty.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

replicaCount: 1

# License key required for Novelty
licenseKey: ""

# Metrics Configuration:
metrics:
  jmx:
    enabled: false
  influx:
    enabled: false
    period: 30s
    database: metrics
    scheme: http
    # Set "host" and "port" to the reachable address of the influx server
    host: ""
    port: 8086
  csv:
    enabled: false
    period: 200ms
    logDirectory: /metrics
  prometheus:
    # Set to true to expose JMX metrics over HTTP using the Prometheus JMX agent
    enabled: false
    # Port opened up on Quine Enterprise pod, exposing Prometheus Java Agent metrics
    port: 9090

# Java Management Extensions (JMX) and Remote Method Invocation (RMI) configuration
#
# These values configure JMX RMI. See the official docs in the following link
# https://docs.oracle.com/javase/6/docs/technotes/guides/management/agent.html
#
jmxRemote:
  enabled: false
  port: 9010
  rmiPort: 9010
  localOnly: false
  authenticate: false
  ssl: false
  rmiHostname: localhost

# The registry URL and credentials are provided by thatDot with your license key
image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""

# Registry credentials provided by thatDot
imagePullSecrets: []

service:
  name: novelty
  type: ClusterIP
  externalPort: 8080
  internalPort: 8080

resources:
  limits:
    cpu: 2048m
    memory: 4096Mi
  requests:
    cpu: 1024m
    memory: 2048Mi

# OIDC Configuration for OpenID Connect authentication
oidc:
  enabled: false
  provider:
    locationUrl: ""
    authorizationUrl: ""
    tokenUrl: ""
    loginPath: "auth"
  client:
    existingSecret:
      name: ""
      secretKeys:
        clientIdKey: "client-id"
        clientSecretKey: "client-secret"
  session:
    autoGenerate: true
    existingSecret:
      name: ""
      key: ""
    secret: ""
    expirationSeconds: 3600
    secureCookies: false

# Whitespace-separated jdk arguments injected via JAVA_JDK_OPTIONS
extraJdkArgs: ""
